astroid==2.3.1
autopep8==1.4.3
certifi==2019.9.11
chardet==3.0.4
defusedxml==0.6.0
distributed==2.5.2
dj-database-url==0.5.0
Django==3.1.12
django-allauth==0.41.0
django-crispy-forms==1.9.0
django-heroku==0.3.1
django-social-widgets==0.4.0
django-tinymce==3.0.2
django-tinymce4-lite==1.8.0
gunicorn==19.9.0
idna==2.8
isort==4.3.21
jsmin==2.2.2
lazy-object-proxy==1.4.2
mccabe==0.6.1
oauthlib==3.1.0
pep8==1.7.1
psycopg2-binary==2.7.7
pycodestyle==2.5.0
pylint==2.4.2
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
six==1.12.0
sqlparse==0.3.1
typed-ast==1.4.1
urllib3==1.24.2
wrapt==1.11.2
whitenoise==5.0.1
django-heroku==0.3.1
pillow==7.1.2
